<%- include("common/Header") %> <%- include("common/Navbar") %>
<div class="container vh-100 pt-5" id="main_container">
  <h4 class="mt-5">Hello</h4>
</div>

<script>
  // alert.show();
</script>

<%- include("common/Footer") %>
